.benefit {
  text-align: center;
}

.benefit__image {
  margin-bottom: 20px;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: $lightGray;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__pic {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}