.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: rem(6px);
}

.headline__subtitle {
  padding: 0 18%;
  margin-bottom: rem(56px);
  font-size: rem(18px);
  line-height: 1.2;
  color: #666666;
}